$ancho: 70%;
$anchoFito: 100%;
$altoFito: 100%;
$black: #000;

@mixin menu {
    div.scrollmenu {
        background-color: #0080c0;
        overflow: auto;
        white-space: nowrap;
    }
    div.scrollmenu a {
        display: inline-block;
        color: #400040;
        text-align: center;
    padding: 14px;
        text-decoration: none;
    }
    div.scrollmenu a:hover {
        background-color: #777;
    }       
}

@mixin fondo1 {
    .fondito{
        background-image: url(/Sass/fondo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: $anchoFito ;
        background-size: cover ;
        height: $altoFito ;       
    }
}

progress{
	border-radius:10px;	
}
* {box-sizing: border-box}

@mixin container {
    .containeee {
        width: 100%;
        background-color: #ddd;
      }
      .contenedor{
		background-color:rgba(112,179,221,0.5) !important;
		
		width:$ancho -10;
		padding:10px;
		margin:0 auto;		
	}
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.html {width: $ancho; background-color: #4CAF50;}
.css {width: $ancho; background-color: #2196F3;}
.java {width : $ancho+10; background-color: #f44336;}
.php {width:$ancho+10 ; background-color: #4e9a06;}
.sql {width: $ancho; background-color: #75507b;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #a6dcee;
    padding: 20px;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* social */
.social {	
	position: fixed;
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
} 
	.social ul {
		list-style: none;
	}
	.social ul li a {
        @extend .social;
		display: inline-block;
		color:#fff;
		background:$black;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-google-plus2{background: #ff0000;}
	.social ul li .icon-linkedin {background: #0080c0;}
	.social ul li .icon-github {background: #000000;}
	
 
	.social ul li a:hover {
		background:$black; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
	
/* footer */
.footer {
	padding-top:10px;
   left: 0;
   bottom: 0;
   margin-left:veinte($ancho);
   margin-right:veinte($ancho);
   background-color:rgba(112,179,221,0.5) !important;
   color: black;
   text-align: center;
}
/* Repetitiva */
@for $p from 2 through 12{
    .col-#{p}{
        width: 100/$p+"%";
    }

}
/*funciones*/
@function veinte($var){
    @return($var/3.5);
}